<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>{{{title}}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Fav Icon -->
  <link href="../../../dist/static/favicon.ico" rel="shortcut icon" type="image/x-icon">

  <noscript>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

  <!--Embedding The User Object And Menu Items-->
  <script type="text/javascript">
    window.user = {{{user}}};
    window.menuItems = {{{menuItems}}}
  </script>
</head>

<body>
  <section class="content">
    <section class="container">
      {{{block "content"}}}
    </section>
  </section>
</body>
{{{block "myScript"}}}
</html>
